nav
{
    background-color: beige; 
    margin: 10px 10px 0px 10px; 
} 

nav ul 
{
    margin: 0px; 
    list-style-type: none; 
    padding: 5px 0px 5px 0px;
}

nav ul li
{
    display: inline; 
    padding: 5px 10px 5px 10px; 
} 

nav ul li a:link, nav ul li a:visited
{
    color: #9d81ba; 
    border-bottom: none; 
} 

nav ul li.selected 
{
    background-color: #c8b99c; 
    text-decoration: underline;
}

#coupon 
{
    border: none;
}

#ser
{
    text-align: right; 
    border-top-left-radius: 15px;  
    border-top-right-radius: 15px; 
    border-bottom-left-radius: 15px; 
    border-bottom-right-radius: 15px;
}